html{
	font-family: 'Permanent Marker', cursive;
		color:#E05F10;
		font-size: 20px;
		    text-shadow:
		     3px 3px 0 #fff,
		    -1px -1px 0 #fff,  
		    1px -1px 0 #fff,
		    -1px 1px 0 #fff,
		    1px 1px 0 #fff;
	}	

	.wrapper {
	    border: 2px solid #FBF62A;
	    text-align: center;
	    width: 70%;
	    margin-left: 30%;
	}

h1 {
	text-align: center;
	margin-bottom: 2%;
	font-size: 50px;
	font-family: 'Permanent Marker', cursive;
	/*color:#F82C58;
	    text-shadow:
	     3px 3px 0 #000,
	    -1px -1px 0 #000,  
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	    1px 1px 0 #000;*/
	    color:#F90061;
	        text-shadow:
	         3px 3px 0 #000,
	        -1px -1px 0 #000,  
	        1px -1px 0 #000,
	        -1px 1px 0 #000,
	        1px 1px 0 #000;
}


body{
	max-width: 980px;
	width: 100%;
	background: url(./background2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
